# cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
Testing

tags

/build

# dia
*.dia~

# vi
*.sw?

*.so

*.patch

config.h

man/man1/ts-sysstat.1
man/man3/genrand64_int64.3

src/bin/*
!src/bin/CMakeLists.txt

src/test/*
!/src/test/CMakeLists.txt
!/src/test/*.c
!/src/test/*.expected
!/src/test/*.sh
!/src/test/*.sql
!/src/test/*.ddf
!/src/test/*.txt
src/test/CMakeCache.txt

target
